<div class="content-wrapper">

    <div>
        Client details
    </div>
    <div>
        {{invoice.clientDetails}}
    </div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="panel-body">
            <div class="container">
                <div class="row col-md-7 col-md-offset-2 custyle">
                    <table class="table table-striped custab">
                        <thead>

                        <div class="row">
                            <div class="col-md-2 ">
                                <a href="#" data-toggle="modal" data-target="#addInvoiceClient" class="btn btn-primary btn-xs pull-left"  ng-click="getAllClientNameForDropDown()"><b>+</b> Add client</a>
                            </div>
                            <div class="col-md-2 ">
                                <a href="#" data-toggle="modal" data-target="#addInvoiceProduct" class="btn btn-primary btn-xs pull-left"  ng-click="getAllProductNameForDropDown()"><b>+</b> Add product</a>
                            </div>
                            <div class="col-md-2 ">
                                <a href="#" data-toggle="modal" data-target="#addClient" class="btn btn-primary btn-xs pull-left" ><b>+</b> print Invoice</a>
                            </div>

                        </div>
                </div>
                <tr>
                    <th>ProductName</th>
                    <th>ProductDescription</th>
                    <th>unitPrice</th>
                    <th>qty</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tr ng-repeat="product in invoice.productList">
                    <td>{{product.itemsData.ProductName}}</td>
                    <td>{{product.itemsData.ProductDescription}}</td>
                    <td>{{product.itemsData.unitPrice}}</td>
                    <td>{{product.qty}}</td>
                    <td class="text-center">
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="#"
                           ng-click="getClientDetailsById(client._id)" data-toggle="modal" data-target="#editClient">
                            <span class="glyphicon glyphicon-edit" ></span> Edit
                        </a>
                        <a href="#" class="btn btn-danger btn-xs"data-toggle="modal"  data-target="#deleteClient"  ng-click="setClientDetailsIdFroDelete(client._id)">
                        <span class="glyphicon glyphicon-remove">
                        </span> Del</a></td>

                </tr>

                </table>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="addInvoiceClient" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3  class="modal-title" id="lineModalLabel">Select Client </h3>
            </div>
            <div class="modal-body">
                <form>
                    <select chosen multiple
                            option="itemname"
                            ng-model="clientSelected"
                            ng-options="itemname.CompanyName for itemname in itemsnames">
                    </select>

                    <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-default"  ng-click="saveSelectedClient(clientSelected)">
                        save</button>
                </form>

            </div>
        </div>
    </div>

</div>




<div class="modal fade" id="addInvoiceProduct" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3  class="modal-title" id="lineProductModalLabel">Select Products </h3>
            </div>
            <div class="modal-body">
                <form>
                    <select chosen multiple
                            option="itemsname"
                            ng-model="productObj.productSelected"
                            ng-options="itemsname.ProductName for itemsname in productNames">
                    </select>

                    <div class="form-group" >
                        <label>Product Qty</label>
                        <input class="form-control"  placeholder="Enter product Quantity"  ng-model="productObj.qty" type="text" >
                    </div>

                    <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-default"  ng-click="saveToProductTable(productObj)">
                        Save</button>
                </form>

            </div>




        </div>
    </div>




</div>