<div class="content-wrapper">

    <div>
        Client details
    </div>
    <div>
        {{invoice.clientDetails}}
    </div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="panel-body">
            <div class="container">
                <div class="row col-md-7 col-md-offset-2 custyle">
                    <table class="table table-striped custab">
                        <thead>

                        <div class="row">
                            <div class="col-md-2 ">
                                <a href="#" data-toggle="modal" data-target="#addInvoiceClient" class="btn btn-primary btn-xs pull-left"  ng-click="getAllClientNameForDropDown()"><b>+</b> Add client</a>
                            </div>
                            <div class="col-md-2 ">
                                <a href="#" data-toggle="modal" data-target="#addInvoiceProduct" class="btn btn-primary btn-xs pull-left"  ng-click="getAllProductNameForDropDown()"><b>+</b> Add product</a>
                            </div>
                            <div class="col-md-2 ">
                                <a href="#" data-toggle="modal" data-target="#previewInvoice" class="btn btn-primary btn-xs pull-left" ><b>+</b> Preview Invoice</a>
                            </div>

                        </div>
                </div>
                <tr>
                    <th>ProductName</th>
                    <th>ProductDescription</th>
                    <th>unitPrice</th>
                    <th>qty</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tr ng-repeat="product in invoice.productList">
                    <td>{{product.itemsData.ProductName}}</td>
                    <td>{{product.itemsData.ProductDescription}}</td>
                    <td>{{product.itemsData.unitPrice}}</td>
                    <td>{{product.qty}}</td>
                    <td class="text-center">
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="#"
                            data-toggle="modal" data-target="#editInvoiceProduct" ng-click="editProduct(product.itemsData.ProductName)">
                            <span class="glyphicon glyphicon-edit" ></span> Edit
                        </a>
                        <a href="#" class="btn btn-danger btn-xs"data-toggle="modal"  data-target="#deleteClient"  ng-click="deleteProduct(product.itemsData.ProductName)">
                        <span class="glyphicon glyphicon-remove">
                        </span> Del</a></td>

                </tr>

                </table>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="addInvoiceClient" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3  class="modal-title" id="lineModalLabel">Select Client </h3>
            </div>
            <div class="modal-body">
                <form>
                    <select chosen multiple
                            option="itemname"
                            ng-model="clientSelected"
                            ng-options="itemname.CompanyName for itemname in itemsnames">
                    </select>

                    <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-default"  ng-click="saveSelectedClient(clientSelected)">
                        save</button>
                </form>

            </div>
        </div>
    </div>

</div>




<div class="modal fade" id="addInvoiceProduct" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3  class="modal-title" id="lineProductModalLabel">Select Products </h3>
            </div>
            <div class="modal-body">
                <form>
                    <select chosen multiple
                            option="itemsname"
                            ng-model="productObj.productSelected"
                            ng-options="itemsname.ProductName for itemsname in productNames">
                    </select>

                    <div class="form-group" >
                        <label>Product Qty</label>
                        <input class="form-control"  placeholder="Enter product Quantity"  ng-model="productObj.qty" type="text" >
                    </div>

                    <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-default"  ng-click="saveToProductTable(productObj)">
                        Save</button>
                </form>

            </div>




        </div>
    </div>




</div>



<div class="modal fade" id="editInvoiceProduct" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3  class="modal-title" id="eidProductModalLabel">Edit Products </h3>
            </div>
            <div class="modal-body">
                {{editObjDetails}}

                    <div class="form-group" >
                        <label>Product Qty</label>
                        <input class="form-control"  placeholder="Enter product name"  ng-model="editObjDetails.ProductName" type="text" >
                    </div>
                     <div class="form-group" >
                        <label>Product Qty</label>
                        <input class="form-control"  placeholder="Enter product Quantity"  ng-model="editObjDetails.qty" type="text" >
                    </div>

                    <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-default"  ng-click="updateTable(productObj)">
                        Update</button>
                </form>

            </div>




        </div>
    </div>




</div>

<div class="modal fade" id="previewInvoice" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3  class="modal-title" id="previewInvoiceLabel">Edit Products </h3>
            </div>
            <div class="modal-body" id="formConfirmation">

                <!--table start-->
                <div class="container"  >
                    <div class="privacy">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <h1><strong>Dhanalakshmi Bill Test Database</strong></h1></div>
                                <div class="col-md-2 col-sm-offset-4">
                                    <h4>Invoice</h4>

                                </div>
                                <div class="col-md-2">
                                    <h4>14</h4>
                                </div>
                            </div><!--end of first row-->
                            <div class="row">
                                <div class="col-md-4">
                                    <address>
                                        <br/>
                                        #27 magadi road Blore:560023<br/>
                                        ph:78878798989

                                    </address>
                                </div>
                                <div class="col-md-3 col-sm-offset-4">
                                    <h1 style="background-color:orange;color:white; padding:4px; text-align:center;">AMOUNT DATE &nbsp &nbsp &nbsp &nbsp  $14</h1>
                                    <p>Invoice Date &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 15/01/2017 </p>
                                    <p>Invoice Date &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 15/01/2017 </p>
                                </div>
                            </div><!--end of second row-->
                            <div class="row">
                                <div class="col-md-4">
                                    <br/><br/>
                                    <p><b>Bill no:</b> hghhjj hkjhn jyuyh hgfgvbn hghgfc </p>
                                </div>
                                <div class="col-md-3 col-sm-offset-4">
                                    <br/><br/>
                                    <p><b>ship Box:</b> ghbhjbh hhbb  uugg kkkgb hagvb ajjbh xhhsk</p>
                                </div>
                            </div>

                        </div><!--end of third row-->
                        <div class="row">
                            <div class="col-md-12">
                                <table class = "table table-bordered">
                                    <br/>
                                    <br/>

                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Product</th>
                                        <th>quality</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>Tanmay</td>
                                        <td>Bangalore</td>
                                        <td>560001</td>
                                        <td>560001</td>
                                        <td>560001</td>

                                    </tr>

                                    <tr>
                                        <td>Sachin</td>
                                        <td>Mumbai</td>
                                        <td>400003</td>
                                        <td>560001</td>
                                        <td>560001</td>


                                    </tr>

                                    <tr>
                                        <td>Uma</td>
                                        <td>Pune</td>
                                        <td>411027</td>
                                        <td>560001</td>
                                        <td>560001</td>

                                    </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div><!--end of fourth row-->
                        <div class="row">
                            <div class="col-md-4 ">

                            </div>
                            <div class="col-md-3 col-sm-offset-4">

                            </div>
                        </div><!--end of fifth row-->
                    </div>


                </div>
                <!--/table end-->





            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                <div class="w3-container " style="float: right">
                    <button ng-click="saveInvoice()" onclick="generatePDF()">save Invoice</button>
                </div>
            </div>

        </div>




        </div>
    </div>




</div>
